@font-face {
    font-family: 'PT Sans';
    src: url('fonts/pts55f_w.eot');
    src: local('PT Sans'), url('fonts/PTS55F_W.eot?#iefix') format('embedded-opentype'), url('fonts/PTS55F_W.woff') format('woff'), url('fonts/PTS55F_W.ttf') format('truetype'), url('fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}

/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;                
    padding: 0;                
    border: 0;                
    font-size: 100%;                
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
} 

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end reset browser styles */ 

#startText {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: aquamarine; 
}

h1, h2 {
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    margin: 20px;
    color: dimgray;
}
h2 {
    margin: 10px 10px 10px 20px;
}

p {
    margin: 4px 4px 10px 20px;
    font-family: "Times New Roman", Times, serif;
}
ol {
    margin: 4px 30px 15px 30px;
}

div.iconlist {
    width: 100%;
    height: 126px;
}

div.iconlist div {
    width: 126px;
    height: 126px;
    float: left;
    overflow: hidden;
}

div.iconlist div:last-child {
    float: right;
}

.browser_label {    
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    position: relative;
    top: 50px;
}

.firefox_label {
    color: #f2a414;
}

.opera_label {
    color: #c10e0e;
}

.safari_label {
    color: #646464;
}

.ie_label {
    color: #036da3;
}

.chrome_label {
    color: #c90000;
}

.chrome_label span:first-child {
    color: #22A12A;
}

.chrome_label span:last-child {
    color: #f9d411;
}

/* Task 6 styles: */

h3.text_header {
    font-family: 'PT Sans';
    font-size: 24px;
    line-height: 25px;
    width: 300px;
    color: #333;
    margin: 20px 0px 0px 30px;
}

.task6 p {
    font-family: 'PT Sans';
    font-size: 16px;
    line-height: 21px;
    width: 375px;  
    text-indent: 15px;
    margin: 25px 50px 25px 30px;
}

div.task6 div {
    float: left;
}

.task6_2nd_col p:last-child {
    font-family: 'PT Sans';
    font-size: 16px;
    text-indent: 0px;
    line-height: 21px;
    width: 375px;
    margin: 45px 0px 25px 15px;
}

.blue_underlined {
    color: blue;
    text-decoration: underline;
}

.dotted_underlined {
    text-decoration: none; 
    display: inline-block; 
    border-bottom: 1px dashed #333; 
}

.grey_dash {
    color: #858585;
}

.button {
    background-color: red;
    font-family: Verdana;
    font-size: 11px;
    border-radius: 5px;
    text-shadow: 0px 1px 0px #fff;
    font-weight: bold;
}

#task4_div1 {
    background-color: blue; 
    width: 150px; 
    height: 100px; 
    position: relative;
}

#task4_button1 { 
    position: absolute; 
    top: 50px; 
    left: 50px;  
    width: 80px;
    height: 20px;
}